.mcmh {
  min-height: calc(100vh - 184px);
}

.card {
  margin-top: 40px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}

.con-form-header {
  background-color: #82B1FF !important;
  color: #fff;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 3rem;
  padding: 2rem;
  border-radius: 2px;
}

.sky-blue {
  color: #82B1FF;
}
