.atd li {
  display: flex;
  color: #555;
}

.atd li mat-icon {
  margin: auto 5px;
}

.atd a {
  text-decoration: none;
  color: inherit;
}

.lb-image-card {
  width: 114px;
  height: 115px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
