<div class="by acy adh">
  <div class="dp">
    <div class="fj">
      <div class="mu blf abk">
        <div class="na" style="background-image: url(assets/img/home/belgorod.png);"></div>
        <div class="mv arx">
          <a>
            <img class="blg" src="assets/img/home/ava1.png">
          </a>

          <h6 class="mw">
            <a class="bjx">Екатерина Сыромятникова</a>
          </h6>

          <p class="abk">Кадастровый инженер г. Белгород и Белгородская область.</p>
        </div>
      </div>

      <div class="mu sh sp abk">
        <div class="mv">
          <h6 class="abd">Обо мне</h6>
          <p><span class="oe">Сыромятникова Екатерина Васильевна</span> - кадастровый инженер.<br>Окончила Белгородский Государственный Технологический Университет им. В.Г. Шухова в 2012 году. В том же году получила сертификат квалификационного соответствия должности кадастрового инженера.<br>Работаю в данной сфере уже более 5 лет.</p>
        </div>
      </div>

      <div class="mu sh sp abk">
        <div class="mv">
          <h6 class="abd">Удостоверяющие документы</h6>
          <div data-grid="images" data-target-height="150">
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/att.jpg" data-lightbox="roadtrip" data-title="Квалификационный аттестат кадастрового инженера">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/att.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/sro.jpg" data-lightbox="roadtrip" data-title="Свидетельство о регистрации">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/sro.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/1_asp.jpg" data-lightbox="roadtrip" data-title="Диплом об окончании асперантуры">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/1_asp.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/2_dip.jpg" data-lightbox="roadtrip" data-title="Диплом бакалавра (с отличием)">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/2_dip.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/3_cad.jpg" data-lightbox="roadtrip" data-title="Сертификат пользователя AutoCAD">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/3_cad.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/4_pk1.jpg" data-lightbox="roadtrip" data-title="Повышение квалификации">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/4_pk1.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/5_pk2.jpg" data-lightbox="roadtrip" data-title="Повышение квалификации (2)">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/5_pk2.jpg)"></div>
              </a>
            </div>
            <div style="margin-bottom: 10px; margin-right: 3px; display: inline-block; vertical-align: bottom;">
              <a href="assets/img/home_docs/pk.jpg" data-lightbox="roadtrip" data-title="Повышение квалификации (3)">
                <div class="lb-image-card" style="background-image: url(assets/img/home_docs/pk.jpg)"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="fm">

      <div class="mu sh sp abk">
        <div class="col-12">
          <h1 class="text-center">Услуги кадастрового инженера в Белгороде и Белгородской области</h1>
          <p><em><strong>Кадастровые работы</strong></em> – это комплекс работ по сбору, анализу документации, проведению геодезических работ, подготовке документации, в результате которых обеспечивается внесение сведений в кадастр недвижимости и регистрация Ваших прав на объекты!</p>
          <div class="text-center"><img src="/assets/img/home/ki-scheme.png" alt="" border="0"></div>
          <p>1. Земельные участки – если Вам необходим раздел земельного участка, уточнение границ существующего земельного участка, формирование нового для реализации Ваших проектов или выдел земельного участка в праве общей собственности на земли сельскохозяйственного назначения, более подробно указано в разделе <a routerLink="/services/delimitationplan">Межевой план</a>.</p>
          <p>Если сведения о координатах границ Вашего земельного участка уже имеются в кадастре недвижимости, но Вы не знаете – где они на местности, в этом случае Вы можете обратить к нам за выносом границ!</p>
          <p>2. Сооружение, здания, помещения, машино-места – Вы построили новый объект и необходимо его узаконить или произвели реконструкцию или перепланировку в существующем – тогда Вам необходима подготовка технического плана!</p>
          <p>3. Объекты незавершенного строительства – для регистрации права на него необходима подготовка технического плана.</p>
          <p>4. Охранные, санитарно-защитные, а также другие зоны с особыми условиями использования территорий – для внесения сведений о данных зонах в кадастр недвижимости и соблюдения правил эксплуатации и защиты объектов необходима подготовка Текстового и графического описания местоположения границ зон с особыми условиями использования территорий.</p>
          <p>Охранные и санитарно- защитные зоны Машино-места Объекты незавершенного строительства Помещения Здания Сооружения Земельные участки Объекты работ</p>
          <p>Также в нашей организации выполняются топографические и исполнительные съемки, подготовка схем для сервитутов, схем расположения зданий на земельном участке, разбивочные и другие работы.</p>
          <em><strong>Мы всегда рады Вам помочь!</strong></em>
        </div>
      </div>

    </div>
    <div class="fj">

      <div class="mu abk ro sp">
        <div class="mv">
          <h6 class="abd"><a routerLink="/news">Новости</a></h6>
          <div id="news-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <ng-template ngFor let-news [ngForOf] = "lastNews"  let-i = "index">
                <div class="carousel-item active" *ngIf="i==0">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{news.header}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="carousel-content">
                        {{news.newstext}}
                      </p>
                      <p class="small float-right">{{news.date}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="carousel-item" *ngIf="i>0">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{news.header}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="carousel-content">
                        {{news.newstext}}
                      </p>
                      <p class="small float-right">{{news.date}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="mu abk ro sp">
        <div class="mv">
          <h6 class="abd"><a routerLink="/news">Отзывы</a></h6>
          <div id="reviewback-slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <ng-template ngFor let-review [ngForOf] = "reviews"  let-i = "index">
                <div class="carousel-item active" *ngIf="i==0">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{review.person}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="carousel-content">{{review.recall}}</p>
                      <p class="small float-right">{{review.date}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>

                <div class="carousel-item" *ngIf="i>0">
                  <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title>{{review.person}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                      <p class="carousel-content">{{review.recall}}</p>
                      <p class="small float-right">{{review.date}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="mu blj">
        <div class="mv">
          <h6>Контакты</h6>
          <ul class="dc atd">
            <li><mat-icon class="float-left">location_on</mat-icon> г.Белгород, ул. Победы, д.69а, вход в офисы, 14 офис</li>
            <li><mat-icon class="float-left">local_parking</mat-icon> Возле офиса имеется бесплатная парковка.</li>
            <li><mat-icon class="float-left">directions_bus</mat-icon> Маршрутные средства: 12, 223, 223а, 41, 41а (ост. Кн.Трубецкого)</li>
            <li><mat-icon class="float-left">smartphone</mat-icon> <a href="tel:89194341499">8 (919) 434-14-99</a></li>
            <li><mat-icon class="float-left">email</mat-icon> <a href="mailto:ki@89194341499.ru">ki@89194341499.ru</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
