<div class="by acy adh mcmh">
  <div class="dp">
    <div class="fj">
      <div class="card">
        <a docs-button mat-button routerLink="/services/delimitationplan" routerLinkActive="active">Межевой план</a>
        <a docs-button mat-button routerLink="/services/technicalplan" routerLinkActive="active">Технический план</a>
        <a docs-button mat-button routerLink="/services/actofinspection" routerLinkActive="active">Акт обследования</a>
        <a docs-button mat-button routerLink="/services/shareallocation" routerLinkActive="active">Выдел доли</a>
        <a docs-button mat-button routerLink="/services/locationsurvey" routerLinkActive="active">Разбивочные работы</a>
        <a docs-button mat-button routerLink="/services/buildingmeasure" routerLinkActive="active">Внутренние обмеры зданий</a>
        <a docs-button mat-button routerLink="/services/zones" routerLinkActive="active">Зоны</a>
      </div>
    </div>
    <div class="fp">
      <div class="card">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
